/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.square1 {
	height: 100px;
	width: 100px;
	background-color: white;
	margin: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: black;
	z-index: 1;
}

.square2 {
	height: 100px;
	width: 100px;
	background-color: #c9c9c9;
	margin: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: black;
	z-index: 1;
}

.square3 {
	height: 100px;
	width: 100px;
	background-color: #6d6d6d;
	margin: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: black;
	z-index: 1;
}

.square4 {
	height: 100px;
	width: 100px;
	background-color: black;
	margin: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: black;
	z-index: 1;
}


.destination1, .destination2, .destination3, .destination4 {
	height: 110px;
	width: 110px;
	background-color: #00e077;
	margin: 10px;
	z-index: 0;
}

// body {
// 	background-color: #845607;
// }